.testContainer {
    width: 100vw;
    height: 100vh;
    background-color: red;
    color: white;
}

.cardBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movieListContainer {
    display: flex;
    flex-direction: column;
}