.default {
    position: relative;
    display: flex;
    width: 1024px;
    padding: 96px 24px 36px;
    background-color: #1d1d1d;
    z-index: 10;
    margin: 0 auto;
    align-items: center;

}

.column {
    flex-direction: column;
}

.spaceBetween {
    justify-content: space-between;
}