.default {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    padding: 96px 320px 36px;
    background-color: #1d1d1d;
    z-index: 10;
    margin: 0 auto;
    align-items: center;

}

.column {
    flex-direction: column;
}